services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      DB_CONNECTION: postgres://postgres:${POSTGRES_PASSWORD}@db:5432/postgres
      SERVER_PORT: ":8080"
    depends_on:
      - db
      
  db:
    image: postgres
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - ./db/migrations:/docker-entrypoint-initdb.d